:root {
    --green: #46D0B0;
    --lightGreen: #A7B91F;
    --red: #FA6D6D;
    --blue: #77BFFE;
    --yellow: #FFD970;
    --purple: #7C538C;
    --brown: #b0726d;
    --grey: #A7A878;
    --black: #303943;
    --indigo: #6C79DB;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none !important;
}

.overflow-h {
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #FFF;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo img {
    width: 3rem;
}

.searchbar {
    position: relative;
}

.searchbar input {
    display: block;
    height: 1.5rem;
    width: 15rem;
    font-size: 1.5rem;
    border: 1px solid lightgray;
    padding: 0.5rem 3.5rem 0.5rem 1rem;
    border-radius: 2rem;
}

.searchbar button {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    background: 0;
    border: 0;
    height: 1.5rem;
}   

.searchbar img {
    height: 100%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: gray;
}

/* Open Card -> */

#openCard {
    background-color: #FB6C6C;
    color: white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/pokeball-filled.png);
    background-position: 100px 230px;
    background-size: 110%;
    background-repeat: no-repeat;
    border-radius: 2rem 2rem 0 0;
}

#openCard div {
    width: 100%;
}

.info-container {
    background-color: white;
    border-radius: 2rem;
    margin-top: -40px;
    padding: 70px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    overflow: hidden;
}

#cardImage {
    width: 20rem;
    position: relative;
    top: 3rem;
}

.card {
    width: 30vw;
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.card-container {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card-buttons img {
    width: 30px;
}

.card-name {
    text-align: left;
}

.card-name h1 {
    font-weight: 900;
    letter-spacing: 1px;
}

.card-id {
    text-align: right;
}

.card-type span {
    padding: 5px 15px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.25)
}

.card-menu {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
}

.card-menu div {
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    padding: 0 15px 15px 15px;
}

.card-menu div span {
    color: grey;
}

.about th,
.about td {
    padding: 5px 0;
}

.about tr td:first-child {
    color: grey;
}

.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

progress {
    /* style rules */
    background-color: rgba(0, 0, 0, 0.05);
    /* chrome, edge, opera, safari apply "webkit" stylesheet for progress bar*/
    -webkit-appearance: none;
    accent-color: orangered;
    border-radius: 10px;
    flex: 1;
    height: 4px;
    max-width: 90%;
}

progress::-webkit-progress-bar {
    /* style rules background in chrome, edge, opera */
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    flex: 1;
}

progress::-webkit-progress-value {
    /* style rules chrome edge opera value bar colour */
    background-color: orangered;
    border-radius: 10px;
    transition: width 0.4s ease-in;
}

progress::-moz-progress-bar {
    /* style rules ff equivalent to ::-webkit-progress-value */
    background-color: orangered;
    border-radius: 10px;
    transition: width 0.4s ease-in;
}

.arrow-right {
    width: 25px;
}

.evolution-image {
    width: 75px;

}

.first-evolution {
    padding-top: 0 !important;
}

.evolution {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 39px;
    padding-top: 10px;
}

.evolution figure img {
    vertical-align: top;
}

.evolution figure {
    display: inline-block;
    text-align: center;
    width: 100px;
}

.level figcaption {
    font-weight: bold;
    color: grey
}

.moves {
    overflow-y: scroll;
    display: flex;
}

.moves table {
    flex: 1;
    text-align: center;
    border-spacing: 0;
}

.moves table tr {
    text-align: center;
}

.moves th {
    padding: 5px 0;
    position: sticky;
    top: 0;
    background-color: white;
}

.moves td {
    padding: 5px;
}

.moves td:nth-child(1n) {
    text-align: center;
}

.moves tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

/* Pokedex -> */

#pokedex {
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 3.5rem;
    overflow-y: auto;
}

/* Pokemon -> */

.pokemon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 11.5rem;
    width: 16.5rem;
    background-color: var(--lightTeal);
    border-radius: 2.2rem;
    padding: 0.75rem 1.5rem;
    color: #FFF;
    background-image: url(../img/pokeball-filled.png);
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: 2rem 3rem;
}

#pokemonID {
    color: rgba(0, 0, 0, 0.25);
    font-size: 1.25rem;
}

#pokemonName {
    align-self: flex-start;
    font-size: 1.5rem;
}

.pokemonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.pokemonContainer img {
    height: 8.3rem;
    width: 8.3rem;
    margin-top: -1rem;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    gap: 0.75rem
}

.pokemon-info span {
    padding: 0.4rem 1.25rem;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 2.5rem;
}